.fixture__card {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    
}

/* PAGINACIÓN  */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
    background-image: linear-gradient(to right,  #4CAF50, #4E4C70);
  }
  
  .pagination-span {
    margin: 0 1em;
    font-size: 0.75rem;
    color: #cdd3b7; /* Color de texto gris */
  }
  
  .btn-prev,
  .btn-next {
    padding: 0.4em 0.8em;
    font-size: 16px;
    background-color: #c8d9df79; /* Color de fondo azul */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave del color de fondo */
  }
  
  .btn-prev:disabled,
  .btn-next:disabled {
    opacity: 0.5; /* Opacidad reducida para botones deshabilitados */
    cursor: not-allowed; /* Cursor de no permitido para botones deshabilitados */
  }
  
  .btn-prev:hover,
  .btn-next:hover,
  .btn-prev:focus,
  .btn-next:focus {
    background-color: #005f78; /* Cambio de color al pasar el mouse o al hacer clic */
    outline: none; /* Quita el contorno al hacer clic en el botón */
  }
  .fixture__card-container {
    cursor: pointer;
  }