
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.4em;
    padding-bottom: 1em;
}
.home__main {
    display: flex;
    flex-direction: row;
    gap: 1em; 

}
.home__topfive-container {
    width: 100%;
    height: 35em;
    border-top: 0.29em solid #4E4C70;
    border-bottom: 0.29em solid #4E4C70;
    border-radius: 0.9em;
    overflow: hidden;
    background-image: linear-gradient(to right,  #4CAF50, #4E4C70);
}
.topfive__cards-container{
    padding-left: 0.12em;
    padding-right: 0.12em;
    overflow-y: auto;
    height: 28em;
    z-index: 100;
}


@media screen and (max-width: 430px){
    .home {
        display: flex;
        flex-direction: column;
        gap: 0.4em;
        padding-bottom: 1em;
    }
    .home__main {
        display: flex;
        flex-direction: column;
        gap: 0.015em;
    }
    .home__table {
        display: none;
    }

    .home__topfive-container {
        width: 100%;
        height: 19em;
        border-top: 0.29em solid #4E4C70;
        border-bottom: 0.29em solid #4E4C70;
        border-radius: 0.9em;
        overflow: hidden;
        background-image: linear-gradient(to right,  #4CAF50, #4E4C70);
    }
    .topfive__title {
        display: flex;
        width: 100%;
        height: 1.5em;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right,  #4CAF50, #4E4C70);
        padding: 0.8em;
        font-size: 16px;
    
        color: white;
    }
    .topfive__cards-container{
        padding-left: 0.12em;
        padding-right: 0.12em;
        overflow-y: auto;
        max-height: 15em;
        z-index: 100;
    }
    .topfive__cards-container.scrollable {
        /* Add box-shadow for the top and bottom edges */
    box-shadow:
    inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5), /* Top shadow */
    inset 0 10px 10px -10px rgba(0, 0, 0, 0.5); /* Bottom shadow */
    }
    .topfive__cards-container::-webkit-scrollbar {
        display: none; /* Hide the scrollbar */
    }
    .topfive__button-container {
        display: flex;
        justify-content: center;
    }
    .topfive__gotolist-button {
        padding: 0.4em 0.8em;
        font-size: 16px;
        background-color: #c8d9df79; /* Color de fondo azul */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .topfive__gotolist-button:active {
        background-color: #005f78; /* Cambio de color al pasar el mouse o al hacer clic */
    }

    /*----TABLA----*/
    .home__toptable-container {
        width: 100%;
        border-top: 0.29em solid #4E4C70;
        border-bottom: 0.29em solid #4E4C70;
        border-radius: 0.9em;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-image: linear-gradient(to right,  #4CAF50, #4e4c70fa);
    }
    .toptable__title {
        display: flex;
        width: 100%;
        height: 1.5em;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(to right,  #4CAF50, #4E4C70);
        padding: 0.8em;
        font-size: 16px;
        color: white;
    }
    .toptable__table {
        overflow-y: auto;
        max-height: 15em;
    }
    .toptable__table::-webkit-scrollbar {
        display: none; /* Hide the scrollbar */
    }
    .toptable__button-container {
        display: flex;
        justify-content: center;
    }
    .gototable__button {
        padding: 0.4em 0.8em;
        font-size: 16px;
        background-color: #c8d9df79; /* Color de fondo azul */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.90s;
    }

    .gototable__button:active {
        background-color: #005f78; /* Cambio de color al pasar el mouse o al hacer clic */
}
}