@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media screen and (min-width: 431px) {
  .table__container {
    overflow-x: auto;
    max-width: 100%;
    height: 30em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y:unset;
  }
  .table__section {
    width: 100%;
  }

  .table__header {
    display: flex;
    flex-direction: row;
    min-width: 100%;
  }
  .table__body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .table__tr-headerZ1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 50%;
    background-color: #c6d7c8c6;
    border: 1px solid #ccc;
    border-right: none;
    border-radius:  8px 1px 1px 8px ;
    margin-bottom: 0.2em;
  }
  .table__tr-header02 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 50%;
    background-color: #c6d7c8c6;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 1px 8px 8px 1px;
    margin-bottom: 0.2em;
    padding-right: 0.2em;
  }
  .th__played {
    padding-left: 2.2em;
  }
  .table__tr-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 0.2em;
    background-color: rgba(240, 248, 255, 0.988);
  }
  .td__name {
    min-width: 6.2em;
  }
  .td__index,
  .td__logo,
  .td__name
  {
  flex: 1; /* Igual distribución de espacio entre todas las celdas */
  }

  .td__index,
  .td__logo,
  .td__name {
  flex-grow: 0; /* No permitir que estas celdas crezcan */
  }

  .table__tr-body:nth-child(even) {
    background-color: #8dee9857;
  }

  .table__tr-body td {
    display: flex;
    text-align: center;
    padding: 8px;
  }

  .td__index {
    font-weight: bold;
  }

  .td__name {
    font-weight: bold;
  }

  .td__logo img {
    display: block;
    margin: 0 auto;
    width: 50%;
  }
}
@media screen and (max-width: 430px) {
    .table__container {
      overflow-x: auto;
      max-width: 100%;
      height: auto;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .table__section {
      width: 100%;
    }
  
    .table__header {
      display: flex;
      flex-direction: row;
      min-width: 100%;
    }
    .table__body {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  
    .table__tr-headerZ1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      min-width: 50%;
      background-color: #c6d7c8c6;
      border: 1px solid #ccc;
      border-right: none;
      border-radius:  8px 1px 1px 8px ;
      margin-bottom: 0.2em;
    }
    .table__tr-header02 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-width: 50%;
      background-color: #c6d7c8c6;
      border: 1px solid #ccc;
      border-left: none;
      border-radius: 1px 8px 8px 1px;
      margin-bottom: 0.2em;
      padding-right: 0.2em;
    }
    .th__played {
      padding-left: 2.2em;
    }
    .table__tr-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ccc;
      border-radius: 8px;
      margin-bottom: 0.2em;
      background-color: rgba(240, 248, 255, 0.988);
    }
    .td__name {
      min-width: 6.2em;
    }
    .td__index,
    .td__logo,
    .td__name
    {
    flex: 1; /* Igual distribución de espacio entre todas las celdas */
    }

    .td__index,
    .td__logo,
    .td__name {
    flex-grow: 0; /* No permitir que estas celdas crezcan */
    }

    .table__tr-body:nth-child(even) {
      background-color: #8dee9857;
    }
  
    .table__tr-body td {
      display: flex;
      text-align: center;
      padding: 8px;
    }
  
    .td__index {
      font-weight: bold;
    }
  
    .td__name {
      font-weight: bold;
    }
  
    .td__logo img {
      display: block;
      margin: 0 auto;
      width: 50%;
    }
   
  }