* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

/* Style the container */
.container {
    background-image: url('../futsalPortada01.png');
    background-size: cover;
    background-position: center;
    width: 100%; /* Adjust the width as needed */
    min-height: 100vh; /* Adjust the height as needed */
    border: 1px solid #ccc; /* Add a border for visibility */
    overflow: hidden; /* Hide any overflow content */
    position: relative; /* Ensure position properties work correctly */
}

/* Center the image vertically and horizontally */
.img-wrapper {
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
    color: #8ac226;
}