* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
}

/* Style the loading container */
.loading__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
    background-color: #04336c;
}

.img__container {
    background-image: url('../futsalPortada01.png');
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    min-width: 600px;
    background-size: cover;
    background-position: center;
    position: relative; 
}

.loading__title h3 {
    color: #8ac226;
}
.loading__title {
    position: absolute;
    top: 53%;
}

